:active, :focus {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

a:hover, a:active, a:focus {
  text-decoration: none !important;
  box-shadow: none !important;
  outline: none !important;
}

// NAVBAR, HEADER, AND HOME PAGE
.gameslist_link {
  font-size: 25px !important;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  font-family: 'Press Start 2P', cursive;
  // padding: 15px 10px !important;
  margin-left: auto !important;
}

.gameslist_link:hover, .gameslist_link:active, .gameslist_link:focus{
  color: white !important;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background: none !important;
  color: white;
}

.navbar {
  margin: 0 !important;
  min-height: auto !important;
  background: #221e2d !important;
}

.navbar-brand {
  height: auto !important;
  padding: 4px 10px !important;
}

.home_header_bar {
  width: 100%;
  text-align: center;
  background: #253950 !important; //#25416f !important;
  padding: 17px;
  border-bottom: 1px dotted white;
  // border-top: 1px dotted white;
}

.api_form {
  width: 100%;
}

.welcome-div {
  height: 500px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-game-button {
  background: none !important;
  color: #2e6da4 !important;
  border: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}

.search-div {
  background: url("http://s33.postimg.org/b129uaelr/SRBackground.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.gamename-input {
  background: rgba(255, 255, 255, 0.62);
}

.divider-top {
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  padding: 11px;
  border-top: 1px solid #123d63;
  color: #123d63;
}

.footer-container {
  position: relative;
  width: 100%;
  bottom: 0;
}

// Search Results
.search-container2 {
  // background: url("http://s33.postimg.org/b129uaelr/SRBackground.png") !important;
  // background-repeat: no-repeat !important;
  // background-size: cover !important;
}

.search-container2-overlay {
  // background: rgba(255, 255, 255, 0.75)
}

.search-results-container {
  padding: 0px 20px;
  // background: rgba(211, 211, 211, 0.64)
}

.game_record_container {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #a2a2a2;
}

.search-results-container div:last-child {
  border-bottom: 0 !important;
}

.row-eq-height {
  display: flex;
  align-items: top;
}

.game-record-container div img{
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.image-col {
  text-align: right;
}

.divider-second-top {
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  // color: #fff;
  color: #565555;
  cursor: pointer;
  // background: #5e89b9;
  // background: #5987a5;
  background: #dedede;
}

.divider-top p, .divider-second-top p {
  margin-bottom: 0;
}

.add_search_add {
  font-size: 8px;
}

.game_results_add {
  font-style: italic;
  font-size: 12px;
  margin-left: 6px;
  cursor: pointer;
}

.game_platform_results {
  color: #b9a982;
  margin-bottom: 3px;
}

.add-game-container {
  display: block;
  text-align: center;
  margin: 30px auto;
}

.add-game-field2 {
  width: 265px !important;
  margin: 0 auto;
  font-size: 12px !important;
  margin-bottom: 5px;
  height: 30px !important;
}

.add-game-button-2, .add-game-button-2:hover {
  padding: 7px !important;
  font-size: 12px !important;
}

// Games list tabs
a.game_status_title, a.game_status_title:hover {
  color: #2a376d;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #337ab7 !important;
  cursor: pointer;
}

a.game_status_title:active, a.game_status_title:focus {
  color: #d28622 !important;
}

a.game_status_title_last,  a.game_status_title_last:hover {
  color: #2a376d;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 0 !important;
  cursor: pointer;
  text-decoration: none
}

.game_status_title_container {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 16px;
  background: #e8e4e4;
}

.tab-content {
  margin: 40px;
  min-height: 556px
}

// light Slider / Footer

.home-divider {
    text-align: center;
    padding: 9px;
    background: #0e081f;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
}

.latest-games-heading{
  margin-bottom: 0;
  margin-top: 5px;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
}

.footer-row p {
  font-size: 11px;
  font-family: Arial;
  color: grey !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.footer-row a{
  font-size: 13px;
  font-weight: bold;
  font-family: Arial;
  color: rgb(223, 161, 87) !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.home-divider img{
  height: 153px;
  width: 230px;
  object-fit: cover;
  border: 1px solid #563737;
}

.footer-row {
  // width: 90%;
  margin: 15px auto !important;
  height: 212px !important;
}

.lSPager.lSpg {
  display: none;
}

.lSAction>a {
  top: 40% !important;
  width: 31px !important;
  display: none !important;
}

.lSSlideOuter {
  width: 85%;
  margin: 0 auto;
}

.footer-bottom {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #221e2d;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted white;
}

.footer-a {
  color: white;
}

.fa-github{
  padding: 20px;
  color:white;
}

// Game list panels

.ps-playing-th, .x-playing-th, .nin-playing-th, .pc-playing-th, .ps-start-th, .x-start-th, .nin-start-th, .pc-start-th, .ps-complete-th, .x-complete-th, .nin-complete-th, .pc-complete-th, .ps-wish-th, .x-wish-th, .nin-wish-th, .pc-wish-th  {
  cursor: pointer;
}

.close_release_date {
  font-size: 11px;
  color: #e4841a;
  margin-left: 5px;
}

.col-md-3.col-sm-12 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.console-icons {
  height: 18px;
  margin-right: 15px;
  margin-left: 15px;
}

.table thead th {
  // font-family: monospace;
  font-size: 16px;
  color: #1abd93;
  font-weight: lighter;
  border-bottom: 1px dotted #d5d5da !important;
}

// add and edit game forms
.add-game-form {
  width: 280px;
  text-align: center;
  margin-top: 30px;
  background: white;
  z-index: 5;
  border-radius: 20px;
  /* width: 100%; */
  // background: #b1aaaa;
  background: #e8e5e5;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#add_game {
  padding: 20px;
  padding-bottom: 2px;
}

.edit-game-form {
  width: 450px;
  text-align: center;
  z-index: 5;
  background: #e8e5e5;
  position: relative;
  top: 44px;
  margin: 0 auto;
}

.delete-game-button {
  padding: 6px 10px 6px !important;
  width: 140px;
}
.add-game-button {
  width: 140px;
  padding: 6px 10px 6px !important;
}
.back-from-update-button {
  padding: 10px;
}
.close-after-add-button {
  margin-top: 10px;
  width: 140px;
  padding: 6px 10px 6px !important;
}

.edit-textarea {
  overflow-y: hidden !important;
}

.modal-backdrop {
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.my-review-button {
  cursor: pointer;
  font-size: 9px;
}

#myNotes, #myReview {
  margin-top: 0 !important;
}

#myNotes .modal-content, #myReview .modal-content  {
  box-shadow: none !important
}

.modal-p {
  word-wrap: break-word;
  text-align: left;
}

.review-button-p {
  margin-bottom: 15px;
}

// ACCOUNT FORMS
.sign_up_field {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.edit_field {
  height: 33px;
  width: 100%;
}

.login_field {
  width: 100%;
  padding: 7px;
}

.panel {
  position: relative;
  top: 80px;
  margin: 0 auto;
}

.panel-default {
  width: 500px;
  margin: 0 auto;
  background: #e8e5e5 !important;
  border: 0 !important;
}

.panel-body {
  padding: 27px !important;
}


 h2 {
   color: #384c91;
   font-family: 'raleway';
   font-weight: bold;
 }



// --------------  RESPONSIVENESS ------------------

// For Footer Game
@media (min-width: 1199px) {
  // Gamelist container
  .gameslist.container {
    width: 70%;
  }
}

@media (min-width: 1375px) {
  .home-divider img{
    height: 153px;
    width: 220px;
  }
}

@media (max-width: 1374px) {
  .home-divider img{
    height: 153px;
    width: 200px;
  }
}

@media (max-width: 1222px) {
  .home-divider img{
    height: 153px;
    width: 180px;
  }
}

@media (max-width: 1153px) {
  .home-divider img{
    height: 139px;
    width: 155px;
  }
}

@media (max-width: 967px) {
  .home-divider img{
    height: 131px;
    width: 121px;
  }
}

@media (max-width: 767px) {
  .home-divider img{
    height: 80px;
    width: 100px;
    object-fit: cover;
  }
}

@media (max-width: 736px) {
  a.game_status_title, a.game_status_title:hover, a.game_status_title_last, a.game_status_title_last:hover {
    margin-left: 7px;
    padding-right: 7px;
    font-size: 13px;
  }

  .home-divider img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-bottom: 13px;
    margin-top: 16px;
  }
  .footer-row a {
    font-size: 10px;
    font-weight: normal;
  }
}

@media (max-width: 667px) {
  .panel-body {
    padding: 15px;
    padding-bottom: 60px !important;
  }
  .forgotpw-heading {
    margin-top: 0 !important;
  }

  .welcome-div {
    height: 300px;
  }

  .edit-game-form {
    top: 50px;
    margin-bottom: 40px;
  }
}


@media (max-width: 414px) {

  .gameslist_link {
    font-size: 18px !important;
  }

  .divider-top {
    font-size: 13px;
  }

  .welcome-div {
    height: 400px;
  }

  .edit-game-form {
    width: 280px;
    text-align: center;
    z-index: 5;
    background: #e8e5e5;
    position: relative;
    top: 23px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  // ACCOUNT FORMS
  .sign_up_field {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }

  .edit_field {
    height: 33px;
    width: 100%;
  }

  .login_field {
    width: 100%;
    padding: 7px;
  }

  .panel {
    position: relative;
    top: 20px;
    margin: 0 auto;
  }

  .panel-default {
    width: 298px;
    margin: 0 auto;
    background: #e8e5e5 !important;
    border: 0 !important;
  }

  .panel-body {
    padding: 20px !important;
    padding-bottom: 10px
  }

  .forgotpw-heading {
    font-size: 18px;
  }

  .modal-dialog {
    margin: 25px;
  }

  #game_title{
    width: 268px;
    text-align: center;
    margin-top: 2px;
  }
  #game_genre, #game_platform, #game_progress, #game_release_date{
    width: 150px;
    text-align: center;
    margin-top: 2px;
  }

  //add game page
  input.addgamefield, select {
    height: 25px;
    border: 1px solid lightgrey;
    text-align: center !important;
    background: white !important;
    border-radius: 2px !important;
    margin-top: 0px !important;
  }

  //account pages
  .sign_up_form {
    text-align: center;
    margin-top: 0px;
  }
  .edit_form {
    text-align: center;
    margin-top: 20px;
  }
  .login_form {
    text-align: center;
    margin-top: 0px;
  }
  .sign_up_field {
    margin-bottom: 0px;
  }

}

@media (max-width: 375px) {
  .add-game {
    padding: 5px 11px;
    font-size: 12px;;
  }


  // Add game page
  #game_title {
    width: 155px;
    text-align: center;
    margin-top: 10px;
  }
  .add_game_button {
    margin-bottom: 20px;
  }
  #h1-game {
    margin: 14px;
  }
  #h1-playing {
    text-align: center;
    margin: 26px;
    margin-bottom: 25px;
    font-size: 23px !important;
  }
  #h1-plan {
    text-align: center;
    margin: 26px;
    margin-bottom: 25px;
    font-size: 29px !important;
  }
  .add-game {
    padding: 5px 11px;
  }

  input.addgamefield, select {
    height: 20px;
    border: 1px solid lightgrey;
    text-align: center !important;
    background: white !important;
    border-radius: 2px !important;
    margin-top: 0px !important;
  }

  //edit game page
  .add_game_button {
    padding: 5px 21px !important;
    margin-bottom: 10px !important;
  }

}
