:active, :focus {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

// NAVBAR, HEADER, AND HOME PAGE
.gameslist_link {
  font-size: 18px !important;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  font-family: 'Press Start 2P', cursive;
  padding: 15px 10px !important;
  margin-left: auto !important;
}

.gameslist_link:hover, .gameslist_link:active, .gameslist_link:focus{
  color: white !important;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background: none !important;
  color: white;
}

.navbar {
  margin: 0 !important;
  min-height: auto !important;
  background: #221e2d !important;
}

.navbar-brand {
  height: auto !important;
  padding: 4px 10px !important;
}

.home_header_bar {
  width: 100%;
  text-align: center;
  background: #253950 !important; //#25416f !important;
  padding: 15px;
  border-bottom: 1px dotted white;
  border-top: 1px dotted white;
}

.api_form {
  width: 100%;
}

.welcome-div {
  height: 500px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-game-button {
  background: none !important;
  color: #2e6da4 !important;
  border: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}

.search-div {
  background: url("http://s33.postimg.org/b129uaelr/SRBackground.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.gamename-input {
  background: rgba(255, 255, 255, 0.62);
}

.divider-top {
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  padding: 11px;
  border-top: 1px solid #123d63;
  color: #123d63;
}

.footer-container {
  position: relative;
  width: 100%;
  bottom: 0;
}

// Search Results
.search-container2 {
  // background: url("http://s33.postimg.org/b129uaelr/SRBackground.png") !important;
  // background-repeat: no-repeat !important;
  // background-size: cover !important;
}

.search-container2-overlay {
  // background: rgba(255, 255, 255, 0.75)
}

.search-results-container {
  padding: 0px 20px;
  // background: rgba(211, 211, 211, 0.64)
}

.game_record_container {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #a2a2a2;
}

.search-results-container div:last-child {
  border-bottom: 0 !important;
}

.row-eq-height {
  display: flex;
  align-items: center;
}

.game-record-container div img{
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.image-col {
  text-align: right;
}

.divider-second-top {
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  color: #fff;
  cursor: pointer;
  // background: #5e89b9;
  background: #5987a5;
}

.divider-top p, .divider-second-top p {
  margin-bottom: 0;
}

.add_search_add {
  font-size: 8px;
}

.game_results_add {
  font-style: italic;
  font-size: 12px;
  margin-left: 6px;
  cursor: pointer;
}

.game_platform_results {
  color: #b9a982;
  margin-bottom: 3px;
}

.add-game-container {
  display: block;
  text-align: center;
  margin: 30px auto;
}

.add-game-field2 {
  width: 265px !important;
  margin: 0 auto;
  font-size: 12px !important;
  margin-bottom: 5px;
  height: 25px !important;
}

.add-game-button-2, .add-game-button-2:hover {
  padding: 7px !important;
  font-size: 12px !important;
}

// light Slider / Footer

.home-divider {
    text-align: center;
    padding: 9px;
    background: #0e081f;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 280px;
}

.latest-games-heading{
  margin-bottom: 0;
  margin-top: 5px;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
}

.footer-row p {
  font-size: 11px;
  font-family: Arial;
  color: grey !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.footer-row a{
  font-size: 13px;
  font-weight: bold;
  font-family: Arial;
  color: rgb(223, 161, 87) !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.home-divider img{
  height: 153px;
  width: 230px;
  object-fit: cover;
  border: 1px solid #563737;
}

.footer-row {
  // width: 90%;
  margin: 15px auto !important;
  height: 212px !important;
}

.lSPager.lSpg {
  display: none;
}

.lSAction>a {
  top: 40% !important;
  width: 31px !important;
  display: none !important;
}

.lSSlideOuter {
  width: 85%;
  margin: 0 auto;
}

.footer-bottom {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #221e2d;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted white;
}

.footer-a {
  color: white;
}

.fa-github{
  padding: 20px;
  color:white;
}


// --------------  RESPONSIVENESS ------------------

// For Footer Game
@media (min-width: 1199px) {
  // Gamelist container
  .gameslist.container {
    width: 70%;
  }
}

@media (min-width: 1375px) {
  .home-divider img{
    height: 153px;
    width: 220px;
  }
}

@media (max-width: 1374px) {
  .home-divider img{
    height: 153px;
    width: 200px;
  }
}

@media (max-width: 1222px) {
  .home-divider img{
    height: 153px;
    width: 180px;
  }
}

@media (max-width: 1153px) {
  .home-divider img{
    height: 139px;
    width: 155px;
  }
}

@media (max-width: 967px) {
  .home-divider img{
    height: 131px;
    width: 121px;
  }
}

@media (max-width: 767px) {
  .home-divider img{
    height: 80px;
    width: 100px;
    object-fit: cover;
  }
}

@media (max-width: 736px) {
  a.game_status_title, a.game_status_title:hover, a.game_status_title_last, a.game_status_title_last:hover {
    margin-left: 7px;
    padding-right: 7px;
    font-size: 13px;
  }

  .home-divider img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-bottom: 13px;
    margin-top: 16px;
  }
  .footer-row a {
    font-size: 10px;
    font-weight: normal;
  }
}

// -------


@media (max-width: 414px) {
  #plan-container table tr td:nth-child(4),  #index-container table tr td:nth-child(4) {
    text-align: center;
  }

  #game_title{
    width: 268px;
    text-align: center;
    margin-top: 2px;
  }
  #game_genre, #game_platform, #game_progress, #game_release_date{
    width: 150px;
    text-align: center;
    margin-top: 2px;
  }

  //add game page
  input.addgamefield, select {
    height: 25px;
    border: 1px solid lightgrey;
    text-align: center !important;
    background: white !important;
    border-radius: 2px !important;
    margin-top: 0px !important;
  }

  //account pages
  .sign_up_form {
    text-align: center;
    margin-top: 0px;
  }
  .edit_form {
    text-align: center;
    margin-top: 20px;
  }
  .login_form {
    text-align: center;
    margin-top: 0px;
  }
  .sign_up_field {
    margin-bottom: 0px;
  }

}

@media (max-width: 375px) {
  .add-game {
    padding: 5px 11px;
    font-size: 12px;;
  }


  // Add game page
  #game_title {
    width: 155px;
    text-align: center;
    margin-top: 10px;
  }
  .add_game_button {
    margin-bottom: 20px;
  }
  #h1-game {
    margin: 14px;
  }
  #h1-playing {
    text-align: center;
    margin: 26px;
    margin-bottom: 25px;
    font-size: 23px !important;
  }
  #h1-plan {
    text-align: center;
    margin: 26px;
    margin-bottom: 25px;
    font-size: 29px !important;
  }
  .add-game {
    padding: 5px 11px;
  }

  input.addgamefield, select {
    height: 20px;
    border: 1px solid lightgrey;
    text-align: center !important;
    background: white !important;
    border-radius: 2px !important;
    margin-top: 0px !important;
  }

  //edit game page
  .panel-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .add_game_button {
    padding: 5px 21px !important;
    margin-bottom: 10px !important;
  }

}
